services:
  postgres:
    image: postgres:16-alpine
    container_name: url-shortener-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: url-shortener-redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    networks:
      - app-network

  app:
    build: .
    container_name: url-shortener-app
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge